.form {
    width: 700px;

    /* ? CSS Pattern: Plus Symbols */
    background:
    radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    opacity: 0.8;
}

.detect-btn {
    background: rgba(245,130,130,1) 100%;
    border: 1px solid rgb(253, 208, 208);
    margin: 0 0 0 5px;
}